body {
    margin: auto;
    display: flex;
    justify-content: space-around;
    background-color: #e9967a;
}

section {
    width: 80%;
}

div {
    margin: 20px;
}

#gite1 {
    background-image: url("images/gite/gite1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 400px;
}

#lit {
    background-image: url("images/gite/lit.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
}

#infos {
    float: right;
    width: 50%;
    height: 150px;
    border: solid 3px green;
    padding: 10px;
}
